.container {
  width: 90%;
  margin: auto;
}
.header {
  width: 80%;
  margin: auto;
  margin-top: 2%;
  height: 5vh;
}
.header-line {
  display: flex;
}
.header-line > div {
  justify-content: space-between;
}
.header-line > img {
  margin: auto;
  margin: auto -10px;
  z-index: -1;
  width: 80%;
  height: 25px;
}
.header-circle {
  border: 5px solid #00bd84;
  background-color: #fff;
  border-radius: 50%;
  width: 13%;
  height: 42px;
  margin: auto;
  text-align: center;
}
.header-circle > p {
  margin: auto;
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 17px;
}
.section {
  margin-top: 5%;
  font-family: Poppins, sans-serif;
}
.section-background {
  display: flex;
  width: 80%;
  margin: auto;
}
.first-footer {
  width: 30%;
  position: absolute;
  bottom: 0;
  right: 40%;
  font-size: 22px;
  font-family: Poppins, sans-serif;
  font-weight: 600;
}
.info {
  width: 100%;
  height: 100vh;
  text-align: center;
  position: relative;
}
.first {
  background-image: url("Assets/last\ 2-1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.first .div-content {
  margin-top: 120%;
}
.div-content {
  margin: auto;
  width: 100%;
  margin-top: 100%;
}
.div-content > h3 {
  font-weight: 600;
  font-size: 20px;
}
.div-content > input {
  background-color: #fff;
  outline: 0;
  border: none;
  border-radius: 16px;
  padding: 1% 4%;
  width: 45%;
}
.div-content > input::placeholder {
  color: #2d3436;
  font-size: 13px;
}
.second {
  background-image: url("Assets/last\ 2-2.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.second .div-content {
  height: 40%;
}
.second .div-content > h3 {
  margin: 10% auto;
}
.myFile {
  content: "Upload";
  background-color: #191816;
  font-size: 16px;
  font-weight: 700;
  font-family: Inter, sans-serif;
  padding: 4.8% 12%;
  cursor: pointer;
  border-radius: 16px;
  outline: 0;
  color: #fff;
  -webkit-user-select: none;
}
input[type="file"] {
  display: none;
}
.third {
  background-image: url("Assets/last\ 2-3.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.third-upload {
  display: flex;
  flex-direction: column;
}
.third-upload-button {
  cursor: pointer;
  background-color: #fff;
  border-radius: 50%;
  width: fit-content;
  font-size: 30px;
  padding: 4% 12%;
  margin: auto;
}
.side {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4% 10%;
}
.third .div-content > h3 {
  margin: auto;
  margin-top: -10% !important;
  margin-bottom: 10%;
  width: 80%;
}
hr {
  width: 100%;
  border: 1px solid #fff;
  background-color: #fff;
}
.fourth {
  background-image: url("Assets/last\ 2-4.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.fourth .div-content > h3 {
  margin-top: -30% !important;
  margin-bottom: 10%;
}
.fourth-content {
  display: grid;
}
.fourth-content > div {
  margin: 5% auto;
  width: 100%;
}
.fourth-content > div > input {
  width: 80%;
  margin: auto;
  outline: 0;
  border: none;
  height: 25px;
}
.fourth-content > div > label {
  display: grid;
}
.fourth-content > div > label,
.payment-last-input > label {
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 5%;
}
.payment-last {
  display: flex;
  flex-direction: row;
}
.payment-last-input {
  display: grid;
  text-align: center;
}
.payment-last-input > input {
  width: 70%;
  margin: auto;
}
.first-footer {
  margin-top: auto;
  margin-bottom: 0;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.section-paynow {
  width: 80%;
  text-align: center;
  margin: auto;
  display: flex;
  margin-top: 3%;
}
.section-paynow > div {
  flex: 0.5;
}
.paynow {
  margin: auto;
}
.paynow > button {
  float: right;
  background-color: #00bd84;
  color: #fff;
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 18px;
  outline: 0;
  border: none;
  margin: auto;
  border-radius: 16px;
  padding: 1% 5%;
}
.assist-heading {
  width: 70%;
  display: flex;
  margin: auto;
  margin-right: 0;
}
.assist-heading > button,
.assist-heading > h3 {
  margin: 1% 4%;
}
.assist-heading > h3 {
  font-size: 20px;
  font-weight: 400;
  font-family: Poppins, sans-serif;
  letter-spacing: 0.5mm;
}
.assist-heading > button {
  background-color: #fff;
  font-size: 15px;
  font-weight: 700;
  color: #00bd84;
  outline: 0;
  border: 1px solid #adadad;
  border-radius: 16px;
  padding: 1% 6%;
}

@media screen and (max-width: 480px) {
  .main {
    display: flex;
    flex-direction: row;
  }

  .header {
    width: 30%;
    /* margin: 0; */
  }

  .header-line {
    display: flex;
    flex-direction: column;
  }

  .header-line > img {
    transform: rotate(90deg);
  }

  .section {
    width: 70%;
    /* margin: 0; */
  }
  .section-background {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: auto;
  }
}
